.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@font-face {
  font-family: Chalk;
  src: url('DK Crayon Crumble.ttf');
}


p.quizIntro {
  font-size: large;
  text-align: center;
  color: red;
  font-family: Chalk;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.quiz {
  border: 1px solid black;
  margin: 50px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 25px;
}

.questions {
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 30px;
  padding-top: 30px;
  /*text-align: center;*/
}

.question {
  border: 1px solid grey;
  background-color: grey;
    width: 100%;
}

.questionName {
  padding: 10px 20px;
  font-size: 20px;
}

.answers {
  margin-left:100px;
  margin-top: 20px;
}

.nextQuestionButton {
  margin: 30px;
}