body {margin: 0;}

a {
   color:inherit;
   text-decoration: none;
}

footer {
    position: fixed;
    background-color: #333;
    padding: 0px auto;
    width: 100%;
    text-align: center;
}

footer ul.bottomnav, footer ul {
    list-style-type: none;
    margin: 0px auto;
    overflow: hidden;
    width: 80%;
}

li.bottomnav {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
    display: inline-block;
}

footer ul, footer ul.bottomnav {
    list-style-type: none;
    padding: 100;
    overflow: hidden;
    background-color: #333;
}

ul li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li:hover:not(.active) {background-color: #111;}

ul li.active {background-color: #4CAF50;}