ul.bottomnav {
    list-style-type: none;
    margin: 100;
    padding: 100;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: justify;
}

ul.bottomnav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

li.bottomnav {
    float: left;
    display: inline-block;
}

li.bottomnav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
   color:inherit;
   text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



