body {margin: 0;}

header ul, header ul.topnav {
    list-style-type: none;
    /*margin: 100;*/
    padding: 100;
    overflow: hidden;
    background-color: #333;
}

ul li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



ul li:hover:not(.active) {background-color: #111;}

ul li.active {background-color: #4CAF50;}


/*this is not triggering*/
ul li.right  {
    float: right;
    color: red;
}

